<mat-card class="container-coverage mat-elevation-z0" [ngClass]="{'container-coverage-checked':this.checkedState}">
    <mat-card-header>
      <div class="flex is-row start fill-available">
        <div *ngIf="checkboxIsNotChecked()" class="flex center align-center checkbox-unchecked">
          <mat-icon>add</mat-icon>
        </div>
        <mat-checkbox (change)="modifyParentStyle()" [disableRipple]="true"></mat-checkbox>
        <h2>Business Owner's Policy</h2>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="flex isRow space-between">
        <div>
          <div class="flex is-column coverage-content">
            <div>
              <h3 class="recommend">Why we recommend it</h3>
              <p>Some risks fall outside the protection of general liability coverage. That’s where a Business Owner’s Policy (BOP) can help. It protects your commercial buildings and most of your personal property.  And in the event of lost business, it could help you pay for lost income, employee salaries, and rent expenses if you have a claim.</p>

              <h3 class="covers">What it covers</h3>
              <ul class="flex wrap">
                <li>Bodily injury & property damage</li>
                <li>Personal & advertising injury</li>
                <li>Products & completed operations</li>
                <li>Medical bills</li>
                <li>Building coverage</li>
                <li>Personal property/contents*</li>
                <li>Business income</li>
                <li>Personal property off premises</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex is-column align-center coverages-right">
          <div class="coverage-viewport" *ngIf="checkboxIsNotChecked(); else isChecked">
            <app-asset-bop></app-asset-bop>
          </div>
          <ng-template #isChecked>
            <div class="coverage-viewport">
                <app-asset-bop></app-asset-bop>
            </div>
          </ng-template>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer *ngIf="displayFooter()">
      <ng-content select="[footer]"></ng-content>
    </mat-card-footer>
  </mat-card>
