<div class="flex is-column width60vw styled-multiselect">
  <ul class="no-bullets">
    <li><app-type-checkbox label="I operate out of a dedicated business location"></app-type-checkbox></li>
    <li><app-type-checkbox label="I employ others or plan to hire"></app-type-checkbox></li>
    <li><app-type-checkbox label="I have vehicles that are used for business"></app-type-checkbox></li>
    <li><app-type-checkbox label="I have tools or equipment"></app-type-checkbox></li>
    <li><app-type-checkbox label="None apply"></app-type-checkbox></li>
  </ul>
</div>
