<app-template-base sectionName="Additional Questions" id="addlquestionsPage" currentProgress="66.7">
  <div class="page-content flex center is-column marginLeftTenPercent">

    <div class="flex is-column width80vw center margin0auto">
      <h2>Additional Questions</h2>
    </div>
    <div class="underline-divider"></div>

    <app-container-card isFlat="true">
      <div content>
        <p class="question">What best describes your business' ownership structure?</p>
        <app-type-radio [radioButtons]="['Sole Proprietor', 'LLC', 'Joint Venture', 'Partnership', 'Trust']"></app-type-radio>
      </div>
    </app-container-card>

    <app-container-card isFlat="true">
      <div content>
        <p class="question">Including yourself, how many full-time, part-time, and temporary employees does your business have? (Do not include
          subcontactors.)
        </p>
        <app-type-radio [radioButtons]="['1-4', '5-10', '11-20', '21-50', '51-100', '101+']"></app-type-radio>
      </div>
    </app-container-card>

    <app-container-card isFlat="true">
      <div content>
        <p class="question">If you purchase a policy, when would you like your coverage to start?</p>
        <app-type-date isPlaceholder="Start Date (mm/dd/yyyy)"></app-type-date>
      </div>
    </app-container-card>

    <app-container-card isFlat="true">
      <div content>
        <p class="question">If your business hires subcontractors to do work on your behalf, how much do you expect to pay them during the next
          12 months? (enter $0 if you do not hire subcontractors.)</p>
        <app-type-input isPlaceholder="Estimated Subcontractor Salary"></app-type-input>
      </div>
    </app-container-card>

    <app-container-card isFlat="true">
      <div content>
        <p class="question">What's your company's estimated payroll for the next 12 months? Include you and any full-time, part-time, temporary
          employees, and/or subcontractors.</p>
        <app-type-input isPlaceholder="Estimated Payroll"></app-type-input>
      </div>
    </app-container-card>

    <app-container-card isFlat="true">
      <div content>
        <p class="question">What are your business' estimated gross sales during the next 12 months?</p>
        <app-type-input isPlaceholder="Estimated Gross Sales"></app-type-input>
      </div>
    </app-container-card>

    <app-container-card isFlat="true">
      <div content>
        <p class="question">Occurrence Limit</p>
        <app-type-input isPlaceholder="Select Limit"></app-type-input>
      </div>
    </app-container-card>

    <app-container-card isFlat="true">
      <div content>
        <p class="question">I have read the information above and confirm it is correct. By checking this box and providing the premium payment
          I agree that I am entering into a binding agreement with Hiscox Insurance Company, Inc.</p>
        <app-type-checkbox></app-type-checkbox>
      </div>
    </app-container-card>

    <app-container-card isFlat="true">
      <div content>
        <h4>Statements about your business</h4>
        <p>As the individual completing this transaction, you are authorized to purcahse and bind this insurance on behalf of
          the entity applying for coverage</p>
        <p>Your business is not controlled or owned by any other firm, corporation, or entity</p>
        <p>For the entire period of time that you have owned and controlled the business, you have not sold, purchased, or acquired,
          discontinued, merged into or consolidated with another business</p>
        <p>Your business has never had any commercial insurance cancelled or rescinded</p>
        <h4>Business Activities</h4>
        <p>Your business does not conduct any of the following activities: </p>
        <ul>
          <li>Automotive repair or sales</li>
          <li>Food service/restaurant operations</li>
          <li>Medical services</li>
          <li>Retail operations</li>
        </ul>
        <p>Note: This does not include the activities of your clients in any of these industries</p>
        <h4>Claims and Loss History</h4>
        <p>Based upon your knowledge of your business' current and past partners, officers, directors and employees, during
          the last five years a third party has never made a claim against your business and you do not know of any reason
          why someone may make a claim.</p>
        <h4>General Liability</h4>
        <p>The limits of liability represent the total amount available to pay judgements and settlements for any claims. We
          are not liable for any amounts that exceed these limits.</p>
        <p>If coverage is provided, it shall apply only to occurrences that take place during the policy period.</p>
        <p>This is a claims-made policy. If coverage is provided, it shall apply to claims made against you and reported to
          us during the policy period or applicable extended reporting period.</p>
      </div>
    </app-container-card>

    <div class="flex center">
      <app-advance-button buttonText="Next, Your Quote" [navigateTo]="['demo/quote']"></app-advance-button>
    </div>

  </div>
</app-template-base>
