<mat-card class="container-coverage mat-elevation-z0" [ngClass]="{'container-coverage-checked':this.checkedState}">
    <mat-card-header>
      <div class="flex is-row start fill-available">
        <div *ngIf="checkboxIsNotChecked()" class="flex center align-center checkbox-unchecked">
          <mat-icon>add</mat-icon>
        </div>
        <mat-checkbox (change)="modifyParentStyle()" [disableRipple]="true"></mat-checkbox>
        <h2>Professional Liability</h2>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="flex isRow space-between">
        <div>
          <div class="flex is-column coverage-content">
            <div>
              <h3 class="recommend">Why we recommend it</h3>
              <p>If you give professional advice or provide a professional service (e.g. consultants, accountants, writers, designers, etc.) we recommend professional liability insurance.  It provides protection if you’re sued for negligence if your client claims your work doesn’t meet expectations. </p>

              <h3 class="covers">What it covers</h3>
              <ul class="flex wrap">
                <li>Liability</li>
                <li>Medical payments</li>
                <li>Physical damage</li>
                <li>Uninsured motorist</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex is-column align-center coverages-right">
          <div class="coverage-viewport" *ngIf="checkboxIsNotChecked(); else isChecked">
            <app-asset-pl></app-asset-pl>
          </div>
          <ng-template #isChecked>
            <div class="coverage-viewport">
              <app-asset-pl></app-asset-pl>
            </div>
          </ng-template>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer *ngIf="displayFooter()">
      <ng-content select="[footer]"></ng-content>
    </mat-card-footer>
  </mat-card>
