<mat-form-field>
  <mat-select>
    <mat-option value="New Venture">New Venture</mat-option>
    <mat-option value="1+ Years">1+ Years</mat-option>
    <mat-option value="3+ Years">3+ Years</mat-option>
    <mat-option value="5+ Years">5+ Years</mat-option>
    <mat-option value="10+ Years">10+ Years</mat-option>
    <mat-option value="20+ Years">20+ Years</mat-option>
  </mat-select>
  <mat-placeholder>Years in Business</mat-placeholder>
</mat-form-field>
<!-- TODO how do we tab-index this object?  -->
