<mat-card class="container-coverage mat-elevation-z0" [ngClass]="{'container-coverage-checked':this.checkedState}">
    <mat-card-header>
      <div class="flex is-row start fill-available">
        <div *ngIf="checkboxIsNotChecked()" class="flex center align-center checkbox-unchecked">
          <mat-icon>add</mat-icon>
        </div>
        <mat-checkbox (change)="modifyParentStyle()" [disableRipple]="true"></mat-checkbox>
        <h2>Property Coverage</h2>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="flex isRow space-between">
        <div>
          <div class="flex is-column coverage-content">
            <div>
              <h3 class="recommend">Why we recommend it</h3>
              <p>An essential coverage for nearly every business with rented or owned property.<br />
                Control what you pay out of pocket if you have to repair your building or replace what's inside after a 'covered loss' (fire, theft, etc.)</p>

              <h3 class="covers">What it covers</h3>
              <ul class="flex wrap">
                <li>Building coverage</li>
                <li>Personal property/contents*</li>
                <li>Business income</li>
                <li>Personal property off premises*</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex is-column align-center coverages-right">
          <div class="coverage-viewport" *ngIf="checkboxIsNotChecked(); else isChecked">
            <app-asset-property></app-asset-property>
          </div>
          <ng-template #isChecked>
            <div class="coverage-viewport">
                <app-asset-property></app-asset-property>
            </div>
          </ng-template>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer *ngIf="displayFooter()">
      <ng-content select="[footer]"></ng-content>
    </mat-card-footer>
  </mat-card>
