.mat-expansion-panel {
  background-color: transparent;
  margin-bottom: 2rem;
  h4 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1.25rem;
  }
}

.mat-expansion-panel-header {
  border-bottom: 1px solid #9b9b9b;
  padding-left: 0;
}

