<h2 class="section-title">Brand Colors</h2>
<mat-divider></mat-divider>
<div class="flex wrap">

  <mat-card class="color-chit">
    <mat-card-title class="flex space-between align-center">
      <span>Blue</span>
    </mat-card-title>
    <mat-card-content>
      <div class="brand-primary"></div>
      <p>brand-primary:
        <span id="brand-primary">#0168E0</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="color-chit">
    <mat-card-title class="flex space-between align-center">
      <span>Navy</span>
    </mat-card-title>
    <mat-card-content>
      <div class="brand-secondary"></div>
      <p>brand-secondary:
        <span id="brand-secondary">#0A3360</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="color-chit">
    <mat-card-title class="flex space-between align-center">
      <span>Orange</span>
    </mat-card-title>
    <mat-card-content>
      <div class="brand-alternate"></div>
      <p>brand-alternate:
        <span id="brand-alternate">#FF8A00</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="color-chit">
    <mat-card-title class="flex space-between align-center">
      <span>Red (Alert)</span>
    </mat-card-title>
    <mat-card-content>
      <div class="brand-alert"></div>
      <p>brand-alert:
        <span id="brand-alert">#D41A31</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="color-chit">
    <mat-card-title class="flex space-between align-center">
      <span>Blue Gray</span>
    </mat-card-title>
    <mat-card-content>
      <div class="neutral-cool-dark"></div>
      <p>neutral-cool-dark:
        <span id="neutral-cool-dark">#405E7C</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="color-chit">
    <mat-card-title class="flex space-between align-center">
      <span>Medium Blue Gray</span>
    </mat-card-title>
    <mat-card-content>
      <div class="neutral-cool-medium"></div>
      <p>neutral-cool-medium:
        <span id="neutral-cool-medium">#CEDAE7</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="color-chit">
    <mat-card-title class="flex space-between align-center">
      <span>Light Blue Gray</span>
    </mat-card-title>
    <mat-card-content>
      <div class="neutral-cool-light"></div>
      <p>neutral-cool-light:
        <span id="neutral-cool-light">#E6EDF4</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="color-chit">
    <mat-card-title class="flex space-between align-center">
      <span>Ultra Light Blue Gray</span>
    </mat-card-title>
    <mat-card-content>
      <div class="neutral-cool-ultra-light"></div>
      <p>neutral-cool-ultra-light:
        <span id="neutral-cool-ultra-light">#F2F7FA</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="color-chit">
    <mat-card-title class="flex space-between align-center">
      <span>Dark Gray</span>
    </mat-card-title>
    <mat-card-content>
      <div class="neutral-dark"></div>
      <p>neutral-dark:
        <span id="neutral-dark">#555555</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="color-chit">
    <mat-card-title class="flex space-between align-center">
      <span>Medium Gray</span>
    </mat-card-title>
    <mat-card-content>
      <div class="neutral-medium"></div>
      <p>neutral-medium:
        <span id="neutral-medium">#666666</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="color-chit">
    <mat-card-title class="flex space-between align-center">
      <span>Light Gray</span>
    </mat-card-title>
    <mat-card-content>
      <div class="neutral-light"></div>
      <p>neutral-light:
        <span id="neutral-light">#787777</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="color-chit">
    <mat-card-title class="flex space-between align-center">
      <span>Ultra Light Gray</span>
    </mat-card-title>
    <mat-card-content>
      <div class="neutral-ultra-light"></div>
      <p>neutral-ultra-light:
        <span id="neutral-ultra-light">#F3F3F3</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="color-chit">
    <mat-card-title class="flex space-between align-center">
      <span>UX Black</span>
    </mat-card-title>
    <mat-card-content>
      <div class="neutral-black"></div>
      <p>neutral-black:
        <span id="neutral-black">#2F2F2F</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="color-chit">
      <mat-card-title class="flex space-between align-center">
        <span>UX White</span>
      </mat-card-title>
      <mat-card-content>
        <div class="neutral-white"></div>
        <p>neutral-white:
          <span id="neutral-white">#FDFDFD</span>
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="color-chit">
        <mat-card-title class="flex space-between align-center">
          <span>Background UX White</span>
        </mat-card-title>
        <mat-card-content>
          <div class="background-white"></div>
          <p>background-white:
            <span id="background-white">#F3F3F3</span>
          </p>
        </mat-card-content>
      </mat-card>
</div>
<!-- DONE aria markup -->
