.container-quote-number {
  position: fixed;
  top: 12rem;
  margin: 0 0 4rem 0;
  padding: .5rem;
  width: 100vw;
  z-index: 10;
  background-color: var(--background-white);
  p {
    color: var(--brand-secondary);
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .right {
    margin-right: 2rem;
  }
}
