<app-template-base sectionName="Coverages" id="coveragesPage" currentProgress="82.5">
  <div class="page-content margin0auto">
    <div class="flex wrap is-column marginLeftTenPercent">
      <app-container-coverage isCardTitle="General Liability">
      </app-container-coverage>
      <app-container-coverage isCardTitle="Worker's Compensation">
      </app-container-coverage>
    </div>

    <div class="flex is-row center">
      <app-advance-button buttonText="Next, General Info" [navigateTo]="['demo/generalinfo']"></app-advance-button>
    </div>

  </div>

</app-template-base>
